
/* Typography */
$font: "PT Sans", sans-serif;
$normal-size: 16px;
$big-size: 28px;
$medium-size: 26px;

/* Colors */ 
$font-color: #8488b1;
$h-color: #2c313e;
$bg: #f6f6fc;
$card-bg: #ffffff;
$gray: #E6E2ED;
$purple: #191f5d;

/* Other styles */
$shadow: 4px 4px 25px rgba(215, 217, 233, 0.59);

